.challenge-1-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    height: 100vh;
}
.challenge-1-box{
    height: 500px;
    width: 500px;
    background-color:white;
}
.challenge-2-container{
    display: flex;
    flex-direction: row;
    justify-content:start;
    background-color: blueviolet;
    height: 70vh;
}
.challenge-2-box{
    height: 200px;
    width: 200px;
    background-color:white;
    margin: 10px
}
.box3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border:1px 0px 1px 0px solid black;
}
.circle{
    height: 60px;
    width: 60px;
    background-color: red;
    border-radius: 100%;
}
.word{
    margin-right: 120px;
}
.word-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.h1{
    color: red;
}
.p{
    font-size: 20px;
}
.child{
    border: 2px solid black;
    height: 500px;
    width: 400px;
}
.cat{
    height: 300px;
    width: 400px;
}
.child h2,p{
    margin-left: 10px;
}
.child-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.gray-container {
    position: relative;
    top: 0;
    background-color: rgb(175, 175, 175);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    box-shadow: 0px 2px 30px;
    margin: -10px;
}
a {
    color: black;
    margin: 0px 10px 0px 10px;
}
.pink-container {
    position: relative;
    top: 0;
    z-index: -10;
    background-color: rgb(255, 156, 156);
    height: 100vh;
    width: calc(10% + 91%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -10px;
    box-shadow: 0px 3px 30px;
}
h1 {
    font-size: 60px;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 1px solid black;
    padding: 10px;
    width: 500px;
}
.submit{
    background-color: rgb(109, 109, 255);
    border-radius: 5px;
    margin-top: 10px;
}
.p2{
    color: rgb(175, 175, 175);
}
.ask{
margin-top: 20px;
}
